<?xml version="1.0" encoding="UTF-8"?>
<con:testSuite id="f8d3253e-e68d-4242-88d2-9ed8c6e9527d" name="TestSuite 1" xmlns:con="http://eviware.com/soapui/config"><con:settings><con:setting id="f8d3253e-e68d-4242-88d2-9ed8c6e9527dfileName">TestSuite-1</con:setting></con:settings><con:savedRecentRuns>1</con:savedRecentRuns><con:runType>SEQUENTIAL</con:runType><con:properties/><con:reportParameters/></con:testSuite>